@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

#navbarBlock{
    /* background-color: #f8f9fa!important; */
    height: 5rem;
        /* box-shadow: 0px 15px 15px -15px rgb(97, 84, 84); */
        /* margin-bottom: 0.1rem; */
        /* background-color: #e6e4e4!important; */
        background-image: linear-gradient(rgb(175, 175, 175), #dbdbdb);

        

}

#leftNdiv{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

 
#article{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textdiv p{ 
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    position: relative;
    left: 1rem;
}

.logoBlock  img{
    border-radius: 8px;
    width: 5rem;
    height: 4rem;
    position: relative;
    top: 5px;
    left: 25px;
}
.menuBlock{
    width: 11rem;
    height: 4.98rem;
    background-color: #21539e;
    border-color: #21539e transparent ;
}

.triangle{
    width: 3rem;
    height: 4.98rem;
    background-color: #21539e;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
}

#spclDesing{
    display: flex;
}