@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

*{
    /* background-color: #ecedee!important; */
}

.container{
    height: 100%;
    /* background-color: #ecedee!important; */
    background-image: linear-gradient(#dfdfdf, white);

}

.subContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    box-shadow: 0px 5px 5px -5px rgb(97, 84, 84);
    background-image: linear-gradient(#ebebeb, white);
    /* background-color: #f8f9fa!important; */
    position: sticky;
    top: 0;
    z-index: 10;
}

.searchDiv{
    display: flex;
}

.label{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    color: #3173d6;
    margin-bottom: 3px;
}

.inputMain{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}
.input{
    width: 25rem;
    height: 2rem;
    border: none;
    box-shadow: 0px 0px 5px 1px rgb(187, 187, 187);
    outline: none;
    font-family: 'Lato', sans-serif;
    padding-left: 8px;
    font-size: 1rem;
}

.searchBtn{
    width: 8rem;
    height: 2rem;
    margin-left: 1rem;
    position: relative;
    top: 1.9rem;
    border: none;
    background-color: #4277c5;
    color: aliceblue;
    border-radius: 3px;
    cursor: pointer;    
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    padding-bottom: 5px;
}
.searchBtn:hover{
    background-color: #21529b;
}

.addStudDiv{
    display: flex;
}

.addBtn{
    width: 9.5rem;
    height: 2.8rem;
    margin-right: 2rem;
    background-color: rgb(105, 98, 98);
    color: aliceblue;
    border: none;
    border-radius: 3px;
    font-size: 1.1rem;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
}
.addBtn:hover{
    background-color: rgb(58, 55, 55);
}   

.subContainer2{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.table{
    /* border: 1px solid rgb(44, 12, 224); */
    width:100vw;
}

.thead{
    background-color: rgb(63, 63, 63);
    color: white;
    height: 3.5rem;
}

.thAction{
    width: 10rem;
}
.thAction2{
    width: 33rem;
}

.tbody{
    background-color: rgb(192, 192, 192);
}

.tr{
    height: 4.5rem;
    text-align: center;
    font-size: 1.1rem;
    font-family: 'Lato', sans-serif;
}

.for3Btn{
    display: flex;
    justify-content: space-evenly;
    position: relative;
}
.UpBtn{
    width: 8rem;
    height: 2rem;
    border: none;
    background-color: #4277c5;
    color: aliceblue;
    border-radius: 3px;
    cursor: pointer;    
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}
.UpBtn:hover{
    background-color: #2557a1;
}

.DeleteBtn{
    width: 8rem;
    height: 2rem;
    border: none;
    background-color: #ee3e3e;
    color: aliceblue;
    border-radius: 3px;
    cursor: pointer;    
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}
.DeleteBtn:hover{
    background-color: #ee2020;
}

.FeeDetBtn{
    width: 8rem;
    height: 2rem;
    border: none;
    background-color: #654cc2;
    color: aliceblue;
    border-radius: 3px;
    cursor: pointer;    
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}
.FeeDetBtn:hover{
    background-color: #5035b1;
}
